.button{
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    padding: 0.5rem;
    width: 2.25rem;
    height: 2.25rem;
    margin: auto;
    cursor: pointer;
    gap: 0.5rem;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: #d0d5dd;
}

.off{
    background: #f6f7f9;
}

.on{
    background-color: #475467;
    border-color: #475467;
    color:#fff;
}

/* Primary buttons */

.primary{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    width: 335px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.blueBtn{
    background-color: #5A8FEC;
}

.greenBtn{
    background-color: #00A884;
}

.redBtn{
    background-color: #EB6372;
}

.blackBtn{
    background-color: #4A5553;
}
